/*ID´s llevan # y son unicos por elemento*/
/*las clases son repetibles y llevan . */

p {
    font-family: verdana;
    /*tipo de letras*/
    text-align: center;
    /*alineación del texto*/
    color: black;
    /*color de la fuente*/
    font-size: 24 px;
    /*tamaño de la fuente*/
    font-style: italic;
    /*estilo */
    font-weight: bold;
    /* negrito o fuerte*/
}

body {
    background-color: #2f2f2f;
    /*color de fondo del body*/
}

/* color y alineación de la etiqueta h1*/
h1 {
    color: white;
    font-weight: bold;
    /* negrito o fuerte*/
    text-align: center;
    /*alineación*/
}

a:hover {
    color: #32cd32;
    font-weight: bolder;
}

/*Eliminamos los márgenes y paddings que agrega el navegador por defecto, en la actualidad
hay que probar esta funcionalidad */
* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #32cd32;
    padding: 10px 20px 30px;
    /* Eliminé 'center', ya que no es válido en padding */
    margin: 0;
    /* Asegura que no haya márgenes que reduzcan el ancho */
    text-align: center;
    font-weight: bolder;
    width: 100%;
    /* Hace que ocupe todo el ancho de la pantalla */
    bottom: 0;
    /* Lo coloca al final de la pantalla */
    left: 0;
    /* Asegura que comience desde la izquierda */

    i {
        color: white;
    }

    i:hover {
        color: black;
        font-weight: bolder;
    }
}

.carousel-item img {
    display: block;
    margin: auto;
    width: 100%;
    height: 400px;
    /* Ajusta el valor según sea necesario */
    object-fit: cover;
    /* Esto hace que las imágenes se ajusten sin distorsionarse */
}

h3 {
    font-family: Verdana;
    /*tipo de letras*/
    color: black;
    /*color de la fuente*/
    font-size: 30px;
    /*tamaño de la fuente*/
    font-style: italic;
    /*estilo */
    font-weight: bolder;
    /* negrito o fuerte*/
}

.navbar {
    background-color: #32cd32;
}

/*configuraciones para comercializacion*/
#card1 .card {
    background-color: black;
    align-self: center;

    h5 {
        font-size: small;
        font-weight: bolder;
    }

    p {
        font-size: small;
    }

    .card-body {
        background-color: white;
    }
}

.card-title {
    color: black;
}

.card img {
    display: block;
    margin: auto;
    width: 333px;
    height: 500px;
    object-fit: cover;
}

/*configuraciones para principal*/
#card2 .card {
    background-color: white;
    align-self: center;
    max-width: 340px;
    margin-left: auto;
}